.hero {
  position: relative;
  margin-top: 75px; // header


&__image-1 {
	z-index: 2;
	border: 10px solid $white;
	transform: translateY(11%) rotate(13deg);
	transform-origin: top right;
}
&__image-2 {
	z-index: 2;
	border: 10px solid $white;
	transform: translateY(11%) perspective(1400px) rotateY(-11deg) rotateZ(-10deg) scale(0.9);
	transform-origin: top left;

}

	&__header {
		position: relative;
		width: 63.2%;
		max-width: 1212px;
		left: 42%;
		transform: translate(-50%, 0);
		@include media-breakpoint-up(xl) {
			left: 50%;
		}
	}
  &__trans {
    position: absolute;
    width: 102%;
    bottom: -1%;
    left: -1%;
		
    max-width: none;
    z-index: 1 !important;
  }
}
